/node_modules
/venv/
/sample_data
/images.docx
/play.ipynb
/data/h1b_data_sub.csv
/data/h1b_data.csv
/data/h1b_data2.csv
/data/h1b_data3.csv
/data/h1b_data1.csv
/data/h1b_data4.csv
/data/h1b_data5.csv
/data/h1b_data6.csv
/data/h1b_data7.csv
/data/h1b_data8.csv
/data/h1b_data9.csv
/data/h1b.csv
/.ipynb_checkpoints/
